<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <fieldset>
    <center><h3>Taskboard Information</h3></center>
      <table border="1">
        <tr><td>owner:</td><td><label >{{tkbd.ProdBy.get().name}}</label></td></tr>
        <tr><td>name</td><td><label>{{tkbd.name}}</label></td></tr>
        <tr><td>members</td><td>
          {%if tkbd.Usersin%}
            {%for i in tkbd.Usersin%}
            {{i.get().name}}<br/>
            {%endfor%}
          {%else%}
          None
          {%endif%}
        </td></tr>
        <tr><td>Total Number of Task:</td>
          <td>{{tkbd.task|length}}</td>
        </tr>
        <tr>
          <td>Active Tasks</td>
          <td>
          {{c}}
          </td>
        </tr>
        <tr>
          <td>Completed Tasks</td>
          <td>
          {{c1}}
          </td>
        </tr>
        <tr>
          <td>Tasks completed today</td>
          <td>
          {{c2}}<br/>
          </td>
        </tr>
        <tr><td>Created on</td><td>{{tkbd.create_on}}</td></tr>
        <tr><td>Updated on</td><td>{%if tkbd.update_on==None%} None {%else%}{{tkbd.update_on}}{%endif%}</td></tr>
      </table>
    <br/><br/>
  </fieldset>
  {%if myuser.name==tkbd.ProdBy.get().name%}
  <fieldset>
    <center><h3>Update Taskboard Information</h3></center>
    <form action="/tkbddetail" method="post">
      <input type="text" name="tkd_key" value="{{tkbd.key.id()}}" hidden/>
      name: <input type="text" name="tkd_name" value="{{tkbd.name}}"><br/>
      {%if (tkbd.Usersin|length)!=((usr|length)-1)%}
        add members:
        {%for nu in adu%}
        <input type="checkbox" name="ck" value="{{nu.get().key.id()}}"/>{{nu.get().name}}
        {%endfor%}
      {%else%}
        All users are already added
      {%endif%}
      <br/>
      Remove user:
        {%for user in tkbd.Usersin%}
        {%set u = user.get()%}
        <input type="checkbox" name="rck" value="{{u.key.id()}}"/>{{u.name}}
        {%endfor%}
      <br/>
      <input type="submit" name="button" value="Cancel">
      <input type="submit" name="button" value="Update">
      <input type="submit" name="button" value="Delete">

    </form>
  </fieldset>
  {%endif%}
  <table border="1">
    <tr>
      <th>name</th>
      <th>Assigned to</th>
      <th>Start Time</th>
      <th>Deadline</th>
      <th>Completion time</th>
      <th>Status</th>
      <th>Edit / Complete / Delete</th>

    </tr>

{%for task in tkbd.task%}
{%if task.flag == 'Complete'%}
<tr style="background:green">
{%elif task.flag == 'Un Assign' or task.flag == 'Re-assigned and Pending'%}
<tr style="background:red">
{%endif%}
  <td>{{task.name}}</td>
  {%if task.appoint_to.get().name != None%}
  <td>{{task.appoint_to.get().name}}</td>
  {%else%}
  <td style="background:gray">Not Assign</td>
  {%endif%}
  <td>{{task.start}}</td>
  <td>{{task.end}}</td>
  <td>{{task.complete}}</td>
  <td>{{task.flag}}</td>
  <td><a href="/tkinfo?key={{tkbd.key.id()}}&tknm={{task.name}}"><button>Action</button></a></td>
</tr>
{%endfor%}
</table>
  click <a href='/addtask?key={{tkbd.key.id()}}'>here</a> to add task

  </body>
</html>
