<html>
	<head>
		<meta charset="utf-8"/>
		<title>User login/logout</title>
	</head>
	<body>
		{% if user %}
		{{ welcome }} {{ myuser.name }} welcome to the application<br/>
		Below you will find your details as currently entered into the system<br/>
		<br/>
    Email: {{myuser.email_address}}<br/>
		Name: {{ myuser.name }}<br/>
		Age: {{ myuser.age }}<br/>
		id : {{ myuser.key.id()}}
		<br/>
		<br/>
		{%if keys%}
		<table border="1">
			<tr><th>Owner</th><th>name</th><th>Produce By</th><th>User in</th></tr>
			{%for tkb in keys %}
			<tr>
				<td>{%if myuser.key == tkb.ProdBy%}<center>*</center>{%endif%}</td>
				<td><a href='/tkbddetail?key={{tkb.key.id()}}'>{{tkb.name}}</a></td>
				<td>{{tkb.ProdBy.get().name}}</td>
				<td>
				{%for user in tkb.Usersin %}
				{{user.get().name}}<br/>
				{%endfor%}
				</td>
			</tr>

			{%endfor%}
		</table>
		{%endif%}
		<br/>
		<br/>
		To create a new Taskboard click <a href="/ctb">here</a>
		<br/>
		<br/>
		tk
		<br/>
	{{tk}}


		{% else %}
		<p>Hello guest welcome to the application</p>
		{% endif %}
		<p>you can {{ url_string }} <a href='{{ url }}'><input type="button" Name="login" value="here"></a></p>

	</body>
</html>
